@import "tailwindcss";

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  
  --color-primary: #2563EB;      /* Royal Blue (Main Button/Brand) */
  --color-primary-hover: #1D4ED8; /* Darker Blue (Hover state) */
  
  --color-secondary: #06B6D4;    /* Cyan (Accents/Highlights) */
  
  --color-background: #F8FAFC;   /* Slate-50 (Hindi super puti, eyes-friendly) */
  --color-surface: #FFFFFF;      /* Pure white for Cards/Sections */
  
  --color-foreground: #0F172A;   /* Slate-900 (Text color, hindi pure black) */
  --color-muted: #64748B;        /* Slate-500 (Subtext color) */
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.025em;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}